# generated local dot files
*.DS_Store
.idea/
.direnv
.cache/

# build files or pulled dependencies
cmake-build-debug/
build/
CMakeFiles/
_deps/
lib/

# stabix related
map_files/
plots/*.txt

# python bindings related
python_package/dist
python_package/venv
python_package/src/stabix.egg-info
python_package/src/stabix/stabixcore.so
**/__pycache__/
