[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/FastPFor"]
	path = lib/FastPFor
	url = https://github.com/lemire/FastPFor.git
[submodule "lib/libzippp"]
    path = lib/libzippp
    url = https://github.com/nih-at/libzip
